{% extends "base.html.twig" %}

{% block body %}

{% include "includes/navbar.html.twig" %}
    <!-- <section class="hero is-medium">
        {% include "includes/banner-hero.html.twig" with {
            'title' : 'About',
            'subtitle' : '',
            'background_img' : '/images/hi-res-images/29.jpg'
        } %}
    </section> -->
    
    <div class="container mt-6">
        <h1 style="color: black;">About Harriet</h1>
        <hr>
    </div>

    <section id="about" class="container">
        <div class="pr-4">
            <img src="{{ asset('/images/harriet-profile-pic.JPEG') }}" alt="Harriet Joyce and her horse Max" style="width: 400px;" class="float-left col-img profile-pic">
        </div>
        <h2>Who am I?</h2>
        <p>In case you haven't guessed by now, I'm Harriet! (The one on the right). Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, expedita! Perspiciatis, natus asperiores quo nam dicta, vitae eius odit ex dolorum non magnam? Voluptas sed sequi libero. Dolores, possimus animi!</p>
        <h2>What do I do?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, eius dolore alias odit maiores laborum dolorem quidem iusto doloribus? Dolorum distinctio dolore ea odit vitae harum libero dolores magni illum.</p>
        <h2>Why do I do it?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam excepturi cupiditate laborum animi ullam? Necessitatibus, debitis neque, itaque odio consequatur asperiores sit sapiente vitae obcaecati reiciendis, odit alias cumque modi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id officiis nostrum in accusantium, facere dolorem rerum adipisci eveniet, explicabo esse ipsa amet dolor aperiam debitis ab! Maxime nulla ducimus corrupti.
            <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio consectetur expedita id qui soluta. Quasi, quo, iure consequatur velit, quod optio enim excepturi numquam ducimus vel asperiores earum eligendi fugit?
        </p>
    </section>

    <div class="columns container">
        <div class="column">Facebook</div>
        <div class="column">Instagram</div>
        <div class="column">Twitter</div>
    </div>

{% include "includes/footer.html.twig" %}

<script src="{{ asset('js/app.js') }}"></script>

{% endblock %}
