{% extends "base.html.twig" %}

{% block body %}

{% include "includes/navbar.html.twig" %}
    <!-- <section class="hero is-medium">
        {% include "includes/banner-hero.html.twig" with {
            'title' : 'About',
            'subtitle' : '',
            'background_img' : '/images/hi-res-images/29.jpg'
        } %}
    </section> -->
    
    <div class="container mt-6">
        <h1 style="color: black;">About Harriet</h1>
        <hr>
    </div>

    <section id="about" class="container">
        <img src="{{ asset('/images/harriet-profile-pic.JPEG') }}" alt="Harriet Joyce and her horse Max" style="width: 400px;" class="float-left col-img">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam excepturi cupiditate laborum animi ullam? Necessitatibus, debitis neque, itaque odio consequatur asperiores sit sapiente vitae obcaecati reiciendis, odit alias cumque modi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id officiis nostrum in accusantium, facere dolorem rerum adipisci eveniet, explicabo esse ipsa amet dolor aperiam debitis ab! Maxime nulla ducimus corrupti.
            <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio consectetur expedita id qui soluta. Quasi, quo, iure consequatur velit, quod optio enim excepturi numquam ducimus vel asperiores earum eligendi fugit?
        </p>
    </section>

    <div class="columns container">
        <div class="column">Facebook</div>
        <div class="column">Instagram</div>
        <div class="column">Twitter</div>
    </div>

{% include "includes/footer.html.twig" %}

<script src="{{ asset('js/app.js') }}"></script>

{% endblock %}
